.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid black; */
}

.text{
    /* padding: 20px; */
    width: 40em;
    /* height: 500px; */
    /* border: 2px solid black; */
}
img{
    width: 200px;
    margin: 10px;
}
.img-box{
    display: flex;
    padding: 20px;
    /* border: 5px dotted #2A2C77; */
}
.box{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    /* justify-content: center; */
    /* border: 2px solid black; */
}
.about-one{
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 5em; */
    /* padding: 5em; */
    /* align-items:baseline; */
    /* height: 900px; */
    /* object-fit: cover; */
}
.about-two{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: rgb(255, 255, 187);
    /* border: 2px black solid; */
    /* align-items: center; */
    /* height: 900px; */
    /* background-color: rgb(255,238,218); */
    /* object-fit: cover; */
}